@page "/identity/account/login"
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <EditForm Enhance Model="User" OnValidSubmit="HandleLogin">
                <DataAnnotationsValidator />
                <ValidationSummary />
                <div class="card">
                    <div class="card-header">Login An Account</div>
                    <div class="card-body">
                        <div class="form-group mb-3">
                            <label class="form-label">Email</label>
                            <InputText @bind-Value="User.Email" class=" form-control"></InputText>
                        </div>
                        <div class="form-group mb-3">
                            <label class="form-label">Password</label>
                            <input type="password" @bind="User.Password" class="form-control"> </input>                              
                        </div>
                        <div class="form-group mb-3">
                            
                            <button type="submit" class="btn btn-outline-primary float-end">Login</button>

                        </div>
                        
                    </div>
                </div>
            </EditForm>
        </div>
    </div>
</div>

@code {
    Login User = new();

    async Task HandleLogin()
    {
        var result = await accountService.SignInAnysc(User);
        if (result.Flag)
        {
            var customAuthStateProvider = (CustomAuthenticationStateProvider)AuthStateProvider;
            await customAuthStateProvider.UpdateAuthenticationState(new UserSession() { Token = result.Token, RefreshToken= result.RefreshToken });
            NavManager.NavigateTo("/", forceLoad: true);
        }
    }
}